@import "./normalize";

$color-green: #00A82D;
$color-blue: #296DC1;


%font-text{
    font-family: "Montserrat";
    color: #000;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
}
// .body{
    
// }

#wrapper {
    height: 100%;
    max-width: 1170px;
    margin: 0 auto;
    //padding: 0px 20px;
    @media (max-width:1169.9px){
            max-width:930px;     
    }
    @media (max-width:929.9px) {
            max-width: 690px;
    }
    @media (max-width:689.9px) {
        max-width: 510px;
    }
    @media (max-width:509.9px) {
        max-width: 320px;
    }
   
}

.header {
    margin-top: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width:689.9px) {
        margin: 29px auto 0;
    }
    @media (max-width:509.9px) {
        max-width: 290px;
        margin: 27px auto 0;

    }
}
.logo {
    background-image: url(../assets/icons/logo.svg);
    width: 215px;
    height: 37px;
    @media (max-width:689.9px) {
        width: 180px;
        height: 29px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    @media (max-width:509.9px) {
        width: 180px;
        height: 30.03px;
    }
}
.cart {
    max-width: 142px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width:689.9px) {
        max-width: 56px;
    }
    @media (max-width:509.9px) {
        max-width: 56px;
    }
}
.cart__link {
    text-decoration: none;
    list-style: none;
    @extend %font-text;
    font-weight: 600;
    line-height: 20px;
    color: #35383A;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    vertical-align: middle;
    &::before{
        content: "";
        background-image: url('../assets/icons/Fill.svg');
        width: 28px;
        height: 23px;
    }
    &:active{
        color: $color-green;
        &::before{
            filter: invert(34%) sepia(96%) saturate(1504%) hue-rotate(116deg) brightness(95%) contrast(103%);
        }
    }
    @media (max-width:689.9px) {
        color:transparent;
        background-image: url('../assets/icons/Fill.svg');
        width: 28px;
        height: 23px;
        &:active{
            color: transparent;
            filter: invert(34%) sepia(96%) saturate(1504%) hue-rotate(116deg) brightness(95%) contrast(103%);     
        }
    }
    
}

.cart__quantity {
    display: inline-block;
    font-family: 'Montserrat';
    color:#fff;
    font-weight: 600;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    background-color: $color-green;
    min-width: 21px;
    height: 21px;
    border-radius: 100%;
    margin-left: 10px;
    visibility: hidden;
}
.main {
    margin: 60px auto 30px;
    width: 100%;
    @media (max-width:1169.9px){
        max-width: 890px;
        margin: 60px auto 70px;
    }
    @media (max-width:929.9px) {
        max-width: 452px;
        margin: 60px auto 70px;
    }
    @media (max-width:689.9px) {
        max-width: 452px;
        margin: 76px auto 0;
    }
    @media (max-width:509.9px) {
        max-width: 290px;
        margin: 50px auto 0px;
    }
}
.title {
    @extend %font-text;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 40px;
    @media (max-width:889.9px) {
        margin-bottom: 30px;
    }
    @media (max-width:509.9px) {
        font-size: 26px;
    }
}
.goods {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    @media (max-width:929.9px) {
        justify-content: center;
    }
}
.goods__item {
    padding: 10px 0 35px;
    width: 270px;
    height: 380px;
    border: 1px solid #DEDEDE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    margin-bottom: 40px;
    position: relative;
    &:hover{
        padding: 10px 0px;
        transition: 0.2s;
        cursor: pointer;
    }
    &:hover>:nth-child(3){
        bottom: 65px;
    }
    &:hover>:nth-child(2){
        margin: 4px 20px 15px 20px;
    }
    &:hover>:last-child{
        
        visibility: visible;
        transition: 0.2s;
        cursor: pointer;
        display: block;
    }
    @media (max-width:929.9px) {
        padding: 20px 0px;
        width: 450px;
        height: 590px;
        &:hover{
            padding: 20px 0px;
            transition: 0.2s;
            cursor: pointer;
        }
        &:hover>:nth-child(2){
            margin: 15px 60px 0px 60px;
        }
        &:hover>:nth-child(3){
            bottom: 73px;
        }
    }
    @media (max-width:509.9px) {
        width: 270px;
        height: 380px;
        padding: 10px 0;
        margin-bottom: 30px;
        &:hover{
            padding: 10px 0px;
        }
        &:hover>:nth-child(2){
            margin: 4px 20px 15px 20px;
        }
        &:hover>:nth-child(3){
            bottom: 65px;
        }
    }
}
.goods__pictures {
    width: 200px;
    height: 200px;
    @media (max-width:929.9px) {
        width: 400px;
        height: 400px;
    }
    @media (max-width:509.9px) {
        width: 200px;
        height: 200px;
    }
}
.goods__description {
    @extend %font-text;
    text-align: center;
    margin: 34px 20px 15px 20px;
    box-sizing: border-box;
    @media (max-width:929.9px) {
        margin: 15px 60px 0px 60px
    }
    @media (max-width:509.9px) {
        margin: 4px 20px 15px 20px;
    }
}
.goods__price {
    @extend %font-text;
    font-weight: 700;
    font-size: 18px;
    margin: 0;
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
    text-align: center;
    @media (max-width:929.9px) {
        bottom: 73px;
    }
    @media (max-width:509.9px) {
        bottom: 65px;
    }
}
.goods__button {
    box-sizing: border-box;
    color:#fff;
    text-decoration: none;
    list-style: none;
    width: 186px;
    height: 40px;
    text-align: center;
    background-color: $color-blue;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 40px;
    letter-spacing: 0.05em;
    text-transform: uppercase;  
    display: none;
    transition: 0.2s;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
    &:active{
        background-color: $color-green;
    }
    
    @media (max-width:929.9px) {
        display: block;
        bottom: 20px;
    }
    @media (max-width:689.9px) {
        bottom: 20px;
    }
    @media (max-width:509.9px) {
        bottom: 10px;
    }
}
.active{
    visibility: visible;
    transition: 0.3s;
    cursor: pointer;
}
.active-btn{
    background-color: $color-green;
}

.footer {
    height: 36px;
    border-top: 1px solid #A8AFBB;
    margin-bottom: 21px ;
    @media (max-width:509.9px) {
        max-width: 290px;
        margin: 18px auto 0
    }
}
.footer__descrition{
    color: #7C828B;
    @extend %font-text;
    font-size: 12px;
    text-align: start;
    margin-top: 20px;

}
.basket{
    margin-bottom: 30px;
    @media (max-width:509.9px) {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
.basket__item{
    margin-top: 40px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
    border-bottom: 1px solid #A8AFBB;
    position: relative;
    &::after{
        @media (max-width:509.9px) {
            content: '';
            height: 1px;
            width: 100%;
            background-color: #A8AFBB ;
            position: absolute;
            bottom: 0;
        }
        
    }
    @media (max-width:929.9px) {
        // justify-content: center;
        flex-direction: column;
        height: 605px;
        gap: 15px;
        padding-bottom: 30px;
    }
    @media (max-width:689.9px) {
        
    }
    @media (max-width:509.9px) {
        margin: 40px auto 0;
        height: 426px;
        width: 290px;
        border-bottom: none;
    }
    .goods__pictures{
        height: 150px;
        width: 159px;
        @media (max-width:929.9px) {
            width: 400px;
            height: 400px;
        }
        @media (max-width:509.9px) {
            width: 200px;
            height: 200px;
            margin: 0 20px;
        }
    }
    .goods__description{
        max-width: 270px;
        text-align: start;
        @media (max-width:929.9px) {
            margin: 0px 0px;
            text-align: center;
        }
        @media (max-width:509.9px) {
            margin: 0 20px;
        }
    }
    .control-buttons{
        width: 170px;
        height: 40px;
        border: 1px solid #A8AFBB;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        @media (max-width:931px) {
            order: 2;
            width: 150px;
    
        }
        .control-buttons__minus{
            box-sizing: border-box;
            border-right: 1px solid #A8AFBB;
            height: inherit;
            // text-align: center;
            // line-height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            &::after{
                content: "";
                padding: 1px;
                width: 16px;
                background-color: #000;
                
            }
            &:hover{
                cursor: pointer;
                background-color: $color-blue;
                color:#fff;
                &::after{
                    content: "";
                    background-color: #fff;
                }   
            }
            
        }
        .control-buttons__plus{
            border-left: 1px solid #A8AFBB;
            height: inherit;
            text-align: center;
            line-height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            &::after{
                content: "";
                padding: 1px;
                width: 16px;
                background-color: #000;
                position: absolute;
            
                
            }
            &::before{
                content: "";
                padding: 1px;
                width: 16px;
                background-color: #000;
                transform: rotate(90deg);
                position: absolute;
            }
            &:hover{
                cursor: pointer;
                background-color: $color-blue;
                color:#fff;
                &::after{
                    content: "";
                    background-color: #fff;
                }
                &::before{
                    content: "";
                    background-color: #fff;
                }      
            }
        }
        
    }
    .goods__price {
        position: relative;
        bottom: 0;
        @media (max-width:929.9px) {
       
            
        }
        @media (max-width:509.9px) {

            
        }
    }
  }
.control-buttons__remove{

    height: 40px;
    text-align: center;
    line-height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: transparent;
    @extend %font-text;
    &span{
        display: none;
    }
    @media (max-width:929.9px) {
        order: 3;
        color: #fff;
        background-color: #296DC1;
        width: 171px;
        gap: 10px;
        &span{
            display: block;
        }
    }
    
    
    &:hover{
        cursor: pointer;
        background-color: $color-blue;
        .btn-remove::after{
            content: "";
            background-color: #fff;
        }
        .btn-remove::before{
            content: "";
            background-color: #fff;
        }
        @media (max-width:929.9px) {
            background-color: lighten(#296DC1, $amount: 10%);;
    
        }      
    }
}
.btn-remove{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    @media (max-width:929.9px) {
        position: relative;
        width: 14px;
    }
    &::after{
        content: "";
        padding: 1px;
        width: 17px;
        background-color: #000;
        position: absolute;
        transform: rotate(-45deg);
        @media (max-width:929.9px) {
            background-color: #fff;   
            
        }
    }
    &::before{
        content: "";
        padding: 1px;
        width: 17px;
        background-color: #000;
        transform: rotate(45deg);
        position: absolute;
        @media (max-width:929.9px) {
            background-color: #fff;
        }
    }
}
.count-of-price__count{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    margin: 30px 47px 60px auto;
    text-align: right;   
    @media (max-width:1169.9px){
        margin: 30px 0px 60px; 
        text-align: right;    
    }
    @media (max-width:929.9px) {
        text-align: center;

    }   

}
.control-buttons__sum{
    @extend %font-text;
}

.person-form {
    width: 100%;
    background-color: #F2F5F9;
    margin: 60px 0px;
}
.person-form__title {
    @extend %font-text;
    font-size: 26px;
    padding-top: 70px;
    text-align: center;
    font-weight: 700;
    @media (max-width:509.9px) {
        width: 290px;
        margin: 0 auto;
    }
}
.person-form__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    gap: 30px;
    width: 100%;

    padding-top: 30px;
}
.person-form__place {
    box-sizing: border-box;
    width: 430px;
    height: 60px;
    padding:0 0 0 26px;
    display: block;
    border-color: transparent;
    @extend %font-text;
    &::placeholder{
        color: #535860;
        
    }
    // &:active{
    //     border-color:  #4892EC;
        
    // }
    &:focus{
        
        outline: 1px solid #4892EC;
    }
    &:valid{
        border:none;
        
    }
    &:invalid{
        outline:1px solid #E86880;
        
    }
    @media (max-width: 509.9px) {
        width: 290px;
     } 
    
}
.person-form__button {
    width: 430px;
    height: 60px;
    margin-bottom: 76px;
    background-color: #296DC1;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 0 0;
    box-shadow: none;
    border: none;
    cursor: pointer;
    &:disabled{
        background-color: rgba(41, 109, 193, 0.5);
        cursor: auto;
    }
    @media (max-width: 509.9px) {
        width: 290px;
     } 

}
.dark-background {
    display: none;
    background-color: rgba(41, 41, 41, 0.6);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    &:hover{
        cursor: pointer;
    }
 }

.dark-background-active {
    display: block; 
}
  
.fixed {
    overflow: hidden;
 }
  
.popup {
    position: fixed;
    display: block;
    width: 511px;
    height: 230px;
    z-index: 50;
    left: calc(50vw - 255px);
    top: calc(50vh - 165px);
    background-color: #fff;
    box-sizing: border-box; 
    @media (max-width: 509.9px) {
        width: 278px;
        height: 256px;
        left: calc(50vw - 275px / 2);
        top: calc(50vh - 256px / 2);
    } 
}
.popup__title{
    font-size: 24px;
    text-align: center;
    margin: 11px 33px 20px;    
    @media (max-width: 509.9px) {
        font-size: 18px;
        margin: 20px; 
     } 
}
.popup__description {
    margin: 0 33px; 
    @media (max-width: 509.9px) {
        margin: 20px; 
     } 
}
.popup__close{
    width: 16px;
    height: 16px;
    margin: 17px 17px 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
    &:hover{
        
        transition: 0.5s;
        cursor: pointer;
    
    }
    &::before{
        content: "";
        padding: 1px;
        width: 17px;
        background-color: #000;
        transform: rotate(45deg);
        position: absolute;
    }
    &::after{
        content: "";
        padding: 1px;
        width: 17px;
        background-color: #000;
        transform: rotate(-45deg);
        position: absolute;
    }
    @media (max-width: 509.9px) {
        margin: 10px 10px 0 auto;
     } 
}